{% extends "base.html.twig" %}

{% block title %}
	Edition de la catégorie :  {{category.name}}
{% endblock %}

{% block body %}
    	<h1>Editer la catégorie :	{{category.name}}</h1>


	{{form_start(formView)}}

	{{form_widget(formView)}}

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Editer
	</button>

	{{form_end(formView)}}

{% endblock %}